.text-purple {
  color: #8b7fc7;
  font-size: 1rem;
}

.settings-gear {
  cursor: pointer;
}

.btn-purple {
  background-color: #8b7fc7;
  color: white;
}

.btn-purple:hover {
  background-color: #5a5091ff;
  color: white;
}

.btn-outline-purple {
  background-color: #f5f5f5;
  color: #8b7fc7;
  border: 1px solid #8b7fc7;
}

.btn-outline-purple:hover {
  background-color: #e5e0f5;
  color: #5a5091ff;
}

.pomodoro-display .timer {
  font-size: 4rem;
  color: #8b7fc7;
}

.pomodoro-display .task span {
  font-weight: 500;
  color: #4a3fa0;
}


/*
Controls
*/
.btn-start {
  background-color: #8b7fc7 !important; /* light purple */
  color: white !important;
  border: none;
}

.btn-start:hover {
  background-color: #5a5091ff !important;
}

.btn-stop {
  background-color: #f44336 !important; /* red */
  color: white !important;
  border: none;
}

.btn-stop:hover {
  background-color: #d32f2f; /* darker red on hover */
}


/* 
Timer display 
*/
.pomodoro-display .timer {
  font-size: 6rem;
  color: #8b7fc7; /* light purple */
}