/* Desktop & above */
@media (min-width: 768px) {
  .nav-link.active-link {
    color: #ffffff !important;
    background-color: #8b7fc7;
    border-radius: 10px;
  }

  .nav-link.active-link:hover {
    color: #ffffff !important;
    background-color: #5a5091ff;
    border-radius: 10px;
  }
}

/* All screens */
.nav-link:hover {
  background-color: rgba(139,127,199,0.1);
  border-radius: 10px;
}

.btn-outline:hover {
  color: #ffffff !important;
  background-color: #8b7fc7 !important;
}
